body {
    background-color: white;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    text-align: center;
}

header, nav, main, footer {
    max-width: 100%;
    margin: 0;
}

header {
    background-color: #015D7F;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding: 1rem;
}

header img {
    box-shadow: 3px 4px 8px rgba(214, 209, 209, 0.3);
    margin-right: 15px;  
}

header span {
    font-family: 'DM Serif Display', 'serif';
}

nav {
    background-color: #FFD15C;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    display: flex;
}

nav ul li {
    flex: 1 1 100%;
}

nav a {
    color: #015D7F;
    text-decoration: none;
    display:block;
    text-align: center;
    padding:.5rem;
}

nav a:hover, .active a:hover {
    background-color: rgba(255,255,255,0.8);
    color: rgba(0,0,0,0.9);
}

nav .active a {
    background-color: rgba(255, 255, 255, 0.6); 
    color: #24784A;
}

h1 {
    text-align: center;
    font-size: 1.8rem; 
    border-bottom: 2px dotted black;
    margin: 1.5rem;
    font-family: 'DM Serif Display', 'serif';
    color: #015D7F;
}

h2 {
    color:#D07B0D;
    font-family: 'DM Serif Display', 'serif';
}

h3 {
    color:#24784A;
    margin: 0;
}

p, ol {
    color: black;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 3rem;
    margin-right: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

ol {
    list-style-position: inside;
    padding-top:1rem;
}

a {
    color:#53751E;
}

a:hover {
    color: rgba(0,0,0,0.6);
}

.colors {
    width: 100%;
    min-width: 350px;
    margin: 1.5rem auto;
    text-align: center;
  }
  .colors th {
    background-color: #999;
  }
  .colors td{
    width: 20%;
    height: 3em;
  }
  
  .primary {
    background-color: #015D7F;
    color: white;
  }
  .secondary {
    background-color: #FFD15C;
  }
  .accent1 {
    background-color: #24784A;
    color: white;
  }
  .accent2{
    background-color: #53751E;
    color:white;
  }
  
  .accent3{
    background-color: #D07B0D;
  }
  
#heading {
    font-family: 'DM Serif Display', serif;
    font-size: 1.8rem;
    color:#015D7F
}

#paragraph {
    padding-top: .5rem;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    color:#53751E;
}

footer {
    background-color: #015D7F;
    color: white;
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem;
    margin-top: 2rem;
}

footer p {
    margin: 0;
    padding: 0;
    color: white;
}

#lastModified {
    font-size: 1rem;
    color: #FFD15C;
    font-family: 'DM Serif Display', 'serif';
}