body {
    background-color: white;
    font-family: 'Martel Sans', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

body.dark {
    background-color: #100f09;
}

header, nav, main, footer {
    max-width: 640px;
    margin: 0 auto;
}

header {
    background-color: #DBEEB8;
    color: #312E1B;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding: 1rem;
    position: relative;
}

#profile {
    box-shadow: 1px 2px 8px rgba(29, 29, 29, 0.3);
    margin-right: 15px;  
}

#darkBtn {
    position:absolute;
    top: .5rem;
    right: .5rem;
    cursor: pointer;
    width: 24px;
}

header span {
    font-family: 'Bitter', 'serif';
}

nav {
    background-color: #324E02;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
}


.navigation li.active a:hover {
    background-color: rgba(255,255,255,0.8);
    color: rgba(0,0,0,0.9);
}

.navigation li.active a {
    background-color: rgba(255, 255, 255, 0.2); 
    color: white;
}

#menu {
    font-size: 1.5rem;
	border: none;
	padding: .5rem;
	background-color: #324E02;
	color: white;
    cursor:pointer;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: #324E02;
	color: #fff;
}
.navigation li {
	display: none;
}
.navigation li a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation li a:hover {
    background-color: rgba(255,255,255,0.8);
    color: #4A4629;
	font-weight: 700;
}

/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}


h1 {
    text-align: center;
    font-size: 1.8rem;
    border-bottom: 2px dotted black;
    margin: 1.5rem;
    font-family: 'Bitter', 'serif';
    color: #312E1B;
}

main.dark {
    background-color: #100f09;
    color:#DBEEB8;
}

main.dark h1 {
    color: #DBEEB8;
    border-bottom: 2px dotted #DBEEB8;
}

main.dark a {
    color:#BBBA99;
}

main.dark a:hover {
    color: rgba(255,255,255,0.9)
}

main.dark .card {
    border: 1px dotted #DBEEB8;
}


.card {
    border: 1px dotted #8E7C5B;
    border-radius: 5px;
    text-align: center;
    margin: 1.8rem;
    font-size: 1rem;
}

.card h2 {
    background-color: #BBBA99;
    margin: 0;
    padding: .5rem;
    color: #312E1B; 
    border-radius: 5px 5px 0px 0px;
}

.card ul {
    list-style-type: none;
    text-align: left;
    padding: 1.5rem;
}

.card li {
    padding: .5rem;
    line-height: 1.8rem;
}

.card a {
    color: #4F3303;
}

.card a:hover {
    color: rgba(0,0,0,0.5);
}

footer {
    background-color: #DBEEB8;
    color: #312E1B;
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem;
    margin-top: 2rem;
}

footer p {
    margin: 0;
    padding: 0;
}



#lastModified {
    font-size: 1rem;
    color: #4F3303;
    font-family: 'Bitter', 'serif';
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero-label {
	position: absolute;
	top: 100px;
	background: white;
	padding: 1rem;
	opacity: 0.75;
    width: 100%;
}

.hero-label p {
	margin: 0;
	padding: .25rem;
	font-weight: 700;
	font-size: 1.5rem;
	font-family:"Bitter", serif;
    font-style: italic;
    text-align: center;
}

iframe {
    width: 100%;
    padding: 1rem;
    max-height: 300px;
}

#container {
    padding-left: 1rem;
    padding-right: 3rem;
    text-align: center;
}


#info p {
    padding-bottom: .5rem;
    padding-top: 0;
}

.weather-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 0;
}


